<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <events>
      <event name="item:added">
        <handler type="Sitecore.XA.Foundation.ContentValidation.EventHandlers.SeoUrlHelper, Sitecore.XA.Foundation.ContentValidation" method="OnItemAdded">
          <patch:delete />
        </handler>
      </event>
    </events>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <createItem help="Processors should derive from Sitecore.Pipelines.ItemProvider.CreateItem.CreateItemProcessor.">
            <processor type="Sitecore.Support.XA.Foundation.ContentValidation.Pipelines.ItemProvider.CreateItem.SeoUrlHelperProcessor, Sitecore.Support.251817" />
          </createItem>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
